body {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: #1f2937;
    font-family: sans-serif;
    margin: 0;
}

header, footer {
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}


header{
    display: flex;
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.web-awesome {
    background-color: #1f2937;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.web-awesome p {
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 800;
    border-radius: 5px;
    padding: 10px 40px;
    border: 0;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    padding: 20px;
}

.info-img {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.info-content {
    display: flex;
    justify-content: space-evenly;
}

.info-box {
    width: 200px;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
}

.quote p {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote .quote-by {
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    text-align: end;
}

.box {
    background-color: #3882f6;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box .head {
    color: #f9faf8;
    font-size: 24px;
}
.box button {
    border: 2px solid #f9faf8;
}

footer {
    text-align: center;   
}

.box {
    margin: 100px 200px;
    padding: 50px 100px;
    border-radius: 10px;
}

.quote {
    padding: 50px 300px 30px 300px;
}

.quote-by {
    margin: 0;
    padding: 0;
}

.info {
    padding: 0px 250px 100px 250px;
}

.web-awesome{
    padding: 200px;
    gap: 20px;
}
.text-part h1{
    margin: 0;
    padding: 0;
}

.image-part {
    background-color: #58606d;
    width: 900px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}